SKIPCHECK;

#UNDEFVALS;

# Ct_Ac_Av_KDCIF feeder dans ce cube
['m_COUT_PIECES_HFM':'Ct_Ac_Av_KDCIF'] = N :( ['m_COUT_PIECES_HFM':'Q_Stock'] * ['m_COUT_PIECES_HFM':'PU_Stock'] ) + ( ['m_COUT_PIECES_HFM':'Q_Spec_PIECES_HFM'] * ['m_COUT_PIECES_HFM':'PU_Spec_PIECES_HFM'] ) ;
# KDCIF feeder dans ce cube
['m_COUT_PIECES_HFM':'KDCIF'] = N: ['m_COUT_PIECES_HFM':'Ct_Ac_Av_KDCIF'] * DB('P_TAUX_KDCIF_LANDED',!EXERCICES,!Scenario,!Version,!FOURNISSEUR,!MOIS,'TX_KDCIF_PIECES_HFM') ;

# Ct_Ac_Av_LANDED feeder dans ce cube
['m_COUT_PIECES_HFM':'Ct_Ac_Av_LANDED'] = N: ['m_COUT_PIECES_HFM':'Ct_Ac_Av_KDCIF'] + ['m_COUT_PIECES_HFM':'KDCIF']  ;

# LANDED feeder dans ce cube
['m_COUT_PIECES_HFM':'LANDED'] = N: ['m_COUT_PIECES_HFM':'Ct_Ac_Av_LANDED'] * DB('P_TAUX_KDCIF_LANDED',!EXERCICES,!Scenario,!Version,!FOURNISSEUR,!MOIS,'TX_LAND_PIECES_HFM') ;

# COUT_CHASSIS_OP feeder dans ce cube
['m_COUT_PIECES_HFM':'Cout_Transmission'] = N: ['m_COUT_PIECES_HFM':'Ct_Ac_Av_LANDED'] + ['m_COUT_PIECES_HFM':'LANDED'] ;

# Quantités en devise du fournisseur (Feedé dans ce cube)
['m_COUT_PIECES_HFM':'Q_Piece_HFM' ]=N: IF( !DEVISES @<> 'EUR_HFM' ,
    IF( !DEVISES @= DB('}ElementAttributes_FOURNISSEUR', !FOURNISSEUR, 'DEVISE') ,DB( 'COUTS_PIECES_HFM', !EXERCICES, !Scenario, !Version, !PIECES_HFM, !FOURNISSEUR, !COMPOSANT_PIECES_HFM, 'EUR_HFM', !MOIS, 'Q_Piece_HFM'  ),STET),STET);

['m_COUT_PIECES_HFM':'Q_COMPOSANTS_PIECES_HFM']= N: IF ( !DEVISES @<> 'EUR_HFM' ,
    IF ( !DEVISES @= DB('}ElementAttributes_FOURNISSEUR', !FOURNISSEUR, 'DEVISE')  ,
            DB( 'COUTS_PIECES_HFM', !EXERCICES, !Scenario, !Version, !PIECES_HFM, !FOURNISSEUR, !COMPOSANT_PIECES_HFM, 'EUR_HFM', !MOIS, 'Q_COMPOSANTS_PIECES_HFM'  ),STET),STET);

['m_COUT_PIECES_HFM':'Q_Stock']= N: IF ( !DEVISES @<> 'EUR_HFM' ,
    IF ( !DEVISES @= DB('}ElementAttributes_FOURNISSEUR', !FOURNISSEUR, 'DEVISE')  ,
            DB( 'COUTS_PIECES_HFM', !EXERCICES, !Scenario, !Version, !PIECES_HFM, !FOURNISSEUR, !COMPOSANT_PIECES_HFM, 'EUR_HFM', !MOIS, 'Q_Stock'  ),STET),STET);
            
['m_COUT_PIECES_HFM':'Q_Spec_PIECES_HFM']=N: IF ( !DEVISES @<> 'EUR_HFM' ,
    IF ( !DEVISES @= DB('}ElementAttributes_FOURNISSEUR', !FOURNISSEUR, 'DEVISE')   ,
            DB( 'COUTS_PIECES_HFM', !EXERCICES, !Scenario, !Version, !PIECES_HFM, !FOURNISSEUR, !COMPOSANT_PIECES_HFM, 'EUR_HFM', !MOIS, 'Q_Spec_PIECES_HFM'  ),STET),STET);

['m_COUT_PIECES_HFM':'PU_Stock']=N:IF ( !DEVISES @<> 'EUR_HFM' ,
    IF ( !DEVISES @= DB('}ElementAttributes_FOURNISSEUR', !FOURNISSEUR, 'DEVISE')   ,
            DB('COUTS_PIECES_HFM', !EXERCICES, !Scenario, !Version, !PIECES_HFM, !FOURNISSEUR, !COMPOSANT_PIECES_HFM, 'EUR_HFM', !MOIS, 'PU_Stock') * DB('P_TX_CHANGE',!EXERCICES,!Scenario,!Version,ATTRS ( 'FOURNISSEUR' , !FOURNISSEUR , 'DEVISE'),!MOIS,'TAUX'),STET),STET);

['m_COUT_PIECES_HFM':'PU_Spec_PIECES_HFM']= N:IF ( !DEVISES @<> 'EUR_HFM' ,
    IF ( !DEVISES @= DB('}ElementAttributes_FOURNISSEUR', !FOURNISSEUR, 'DEVISE')   ,
           DB('COUTS_PIECES_HFM', !EXERCICES, !Scenario, !Version, !PIECES_HFM, !FOURNISSEUR, !COMPOSANT_PIECES_HFM, 'EUR_HFM', !MOIS, 'PU_Spec_PIECES_HFM') * DB('P_TX_CHANGE',!EXERCICES,!Scenario,!Version,ATTRS ( 'FOURNISSEUR' , !FOURNISSEUR , 'DEVISE'),!MOIS,'TAUX'),STET),STET);

# Calcul des Conso
[ 'TOTAL_MOIS','Q_Piece_HFM' ]= C:CONSOLIDATECHILDREN('PIECES_HFM', 'MOIS');
[ 'm_COUT_PIECES_HFM':'Q_Piece_HFM' ] = C: IF ( ELEMENTLEVEL( 'PIECES_HFM' , '', !PIECES_HFM) = 0 ,CONSOLIDATEDAVG(2,'', !EXERCICES , !Scenario , !Version , !PIECES_HFM, !FOURNISSEUR , !COMPOSANT_PIECES_HFM, !DEVISES , !MOIS , 'Q_Piece_HFM' ) , CONSOLIDATECHILDREN('PIECES_HFM', 'PIECES_HFM'));
[ 'm_COUT_PIECES_HFM':'PU_Stock' ] = C:0;
[ 'm_COUT_PIECES_HFM':'PU_Spec_PIECES_HFM' ] = C:0;


Feeders ;
# Ct_Ac_Av_KDCIF
[ 'm_COUT_PIECES_HFM':'Q_Stock' ] => ['m_COUT_PIECES_HFM':'Ct_Ac_Av_KDCIF'] ;
[ 'm_COUT_PIECES_HFM':'Q_Spec_PIECES_HFM' ] => ['m_COUT_PIECES_HFM':'Ct_Ac_Av_KDCIF'] ;

# KDCIF
[ 'm_COUT_PIECES_HFM':'Ct_Ac_Av_KDCIF'] => ['m_COUT_PIECES_HFM':'KDCIF'] ;

# Ct_Ac_Av_LANDED
[ 'm_COUT_PIECES_HFM':'Ct_Ac_Av_KDCIF' ] => ['m_COUT_PIECES_HFM':'Ct_Ac_Av_LANDED'] ;
[ 'm_COUT_PIECES_HFM':'KDCIF' ] => ['m_COUT_PIECES_HFM':'Ct_Ac_Av_LANDED'] ;

# LANDED
['m_COUT_PIECES_HFM':'Ct_Ac_Av_LANDED'] => ['m_COUT_PIECES_HFM':'LANDED'] ;

# COUT_CHASSIS_OP
[ 'm_COUT_PIECES_HFM':'Ct_Ac_Av_LANDED'  ] => ['m_COUT_PIECES_HFM':'Cout_Transmission'] ;
[ 'm_COUT_PIECES_HFM':'LANDED' ] => ['m_COUT_PIECES_HFM':'Cout_Transmission'] ;


# Quantités en devise du fournisseur
['EUR_HFM','Q_Piece_HFM'] => DB( 'COUTS_PIECES_HFM', !EXERCICES, !Scenario, !Version, !PIECES_HFM, !FOURNISSEUR, !COMPOSANT_PIECES_HFM, DB('}ElementAttributes_FOURNISSEUR', !FOURNISSEUR, 'DEVISE'), !MOIS, 'Q_Piece_HFM' ) ;
['EUR_HFM','Q_COMPOSANTS_PIECES_HFM'] => DB( 'COUTS_PIECES_HFM', !EXERCICES, !Scenario, !Version, !PIECES_HFM, !FOURNISSEUR, !COMPOSANT_PIECES_HFM, DB('}ElementAttributes_FOURNISSEUR', !FOURNISSEUR, 'DEVISE'), !MOIS, 'Q_COMPOSANTS_PIECES_HFM' ) ;
['EUR_HFM','Q_Stock'] => DB( 'COUTS_PIECES_HFM', !EXERCICES, !Scenario, !Version, !PIECES_HFM, !FOURNISSEUR, !COMPOSANT_PIECES_HFM, DB('}ElementAttributes_FOURNISSEUR', !FOURNISSEUR, 'DEVISE'), !MOIS, 'Q_Stock' ) ;
['EUR_HFM','Q_Spec_PIECES_HFM'] => DB( 'COUTS_PIECES_HFM', !EXERCICES, !Scenario, !Version, !PIECES_HFM, !FOURNISSEUR, !COMPOSANT_PIECES_HFM, DB('}ElementAttributes_FOURNISSEUR', !FOURNISSEUR, 'DEVISE'), !MOIS, 'Q_Spec_PIECES_HFM' );

# PU STOCK et PU SPEC  en devise du fournisseur
['EUR_HFM','PU_Stock'] => DB('COUTS_PIECES_HFM',!EXERCICES,!Scenario,!Version,!PIECES_HFM,!FOURNISSEUR,!COMPOSANT_PIECES_HFM, DB('}ElementAttributes_FOURNISSEUR', !FOURNISSEUR, 'DEVISE'),!MOIS,'PU_Stock');
['EUR_HFM','PU_Spec_PIECES_HFM'] => DB('COUTS_PIECES_HFM',!EXERCICES,!Scenario,!Version,!PIECES_HFM,!FOURNISSEUR,!COMPOSANT_PIECES_HFM, DB('}ElementAttributes_FOURNISSEUR', !FOURNISSEUR, 'DEVISE'),!MOIS,'PU_Spec_PIECES_HFM');