SKIPCHECK;




### INHOUSE COSTS
['INHOUSE COSTS','TOTAL'] = DB('COUTS_PRODUCTION_PIECES_HFM',!EXERCICES,!Scenario,!Version,'DIRECT_COST',!MOIS_YTD,!MOIS,!PIECES_HFM,'TOTAL_COSTS')
                                                 +DB('COUTS_PRODUCTION_PIECES_HFM',!EXERCICES,!Scenario,!Version,'INDIRECT_COST',!MOIS_YTD,!MOIS,!PIECES_HFM,'TOTAL_COSTS') ;





### PROD_COSTS (Feeder dans ce cube)
#['PROD_COSTS','TOTAL'] = DB('COUTS_PRODUCTION_PIECES_HFM',!EXERCICES,!Scenario,!Version,'MATERIAL_COST',!MOIS_YTD,!MOIS,!PIECES_HFM,'MATERIAL COST TOTAL')
                                                 #+DB('COUTS_PRODUCTION_PIECES_HFM',!EXERCICES,!Scenario,!Version,'INHOUSE COSTS',!MOIS_YTD,!MOIS,!PIECES_HFM,'TOTAL') ;




### YTD (Feeder dans ce cube)
['YTD'] = N: DB('COUTS_PRODUCTION_PIECES_HFM',!EXERCICES,!Scenario,!Version,!COST,'YTD',ATTRS('MOIS',!MOIS,'Mois Precedent'),!PIECES_HFM,!m_COUTS_PRODUCTION_PIECES_HFM) + ['M'];

['TOTAL_MOIS','YTD'] = C: DB('COUTS_PRODUCTION_PIECES_HFM',!EXERCICES,!Scenario,!Version,!COST,'YTD','03',!PIECES_HFM,!m_COUTS_PRODUCTION_PIECES_HFM);





FEEDERS;

### INHOUSE COSTS
#['DIRECT_COST','TOTAL COSTS'] => DB('COUTS_PRODUCTION_PIECES_HFM',!EXERCICES,!Scenario,!Version,'INHOUSE COSTS',!MOIS_YTD,!MOIS,!PIECES_HFM, 'TOTAL');
#['INDIRECT_COST','TOTAL COSTS'] => DB('COUTS_PRODUCTION_PIECES_HFM',!EXERCICES,!Scenario,!Version,'INHOUSE COSTS',!MOIS_YTD,!MOIS,!PIECES_HFM, 'TOTAL');

### PROD_COSTS
#['MATERIAL_COST','MATERIAL COST TOTAL'] => DB('COUTS_PRODUCTION_PIECES_HFM',!EXERCICES,!Scenario,!Version,'PROD_COSTS',!MOIS_YTD,!MOIS,!PIECES_HFM, 'TOTAL') ;
#['DIRECT_COST','TOTAL COSTS'] =>DB('COUTS_PRODUCTION_PIECES_HFM',!EXERCICES,!Scenario,!Version,'PROD_COSTS',!MOIS_YTD,!MOIS,!PIECES_HFM, 'TOTAL') ;
#['INDIRECT_COST','TOTAL COSTS'] => DB('COUTS_PRODUCTION_PIECES_HFM',!EXERCICES,!Scenario,!Version,'PROD_COSTS',!MOIS_YTD,!MOIS,!PIECES_HFM, 'TOTAL') ;

### YTD
#['M'] => ['YTD'] ;
#['YTD'] => DB('COUTS_PRODUCTION_PIECES_HFM',!EXERCICES,!Scenario,!Version,!COST,'YTD', ATTRS('MOIS',!MOIS,'Mois Suivant') ,!PIECES_HFM, 'TOTAL') ;





